<%= tr_for foto do %>
  <%= f.simple_fields_for :elementos, foto, :index => foto.id do |formulario| %>
    <td><%= foto.id %></td>
    <td><%= imagen foto.archivo, "60x30" %></td>
    <td><%= formulario.input :titulo, :placeholder => 'Título...' %></td>
  <% end %>
<% end %>