<%= tr_for foto do %>
  <td><%= foto.id %></td>
  <td><%= imagen foto.archivo, "120x90" %></td>
  <td><%= foto.titulo %></td>
  <td><%= icono 'warning-sign' if !foto.width.in? Foto::WIDTH_RECOMENDADO %> <%= foto.width %>x<%= foto.height %></td>
  <td><%= icono 'warning-sign' if foto.peso > Foto::PESO_LIMITE %> <%= number_to_human_size foto.peso %></td>
  <td><%= acciones :mover => boton_mover(Foto), :ver => boton_ver(foto), :eliminar => boton_eliminar(foto, admin_archivo_path(foto)) %></td>
<% end %>