<%= tr_for video do %>
  <td><%= video.id %></td>
  <td><%= image_tag video.thumbnail_url %></td>
  <td><%= video.titulo %></td>
  <td><%= video.codigo %></td>
  <td><%= acciones :mover => boton_mover(Video), :ver => boton_ver(video), :eliminar => boton_eliminar(video, admin_archivo_path(video)) %></td>
<% end %>