<%= tr_for usuario do %>
  <td><%= usuario.username %></td>
  <td><%= usuario.email %></td>
  <td><%= usuario.rol %></td>
  <td><%= acciones :editar => boton_editar(usuario), :eliminar => boton_eliminar(usuario) %></td>
<% end %>