<%= tr_for consulta do %>
  <td><%= fecha consulta.created_at %></td>
  <td><%= consulta.nombre_completo %></td>
  <td><%= consulta.email %></td>
  <td><%= consulta.telefono %></td>
  <td><%= acciones :ver => boton_ver(consulta, admin_consulta_path(consulta)), :eliminar => boton_eliminar(consulta) %></td>
<% end %>